.item {
    display: flex;
    justify-content: space-between;
    height: 35px;
    border: 2px solid goldenrod;
    font-size: 15px;
  }
  
  .item__text {
    padding: 5px;
  }
  
  .item__btn {
    background-color: red;
  }